<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% if display_version == "kiwi" %}
  <title>Kiwi - Verze {{ page.title }} - {{ page.date | date: "%d.%m.%Y" }}</title>
  <link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}/img/icons/kiwi/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{site.url}}/img/icons/kiwi/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/img/icons/kiwi/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/img/icons/kiwi/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/img/icons/kiwi/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/img/icons/kiwi/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}/img/icons/kiwi/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/img/icons/kiwi/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/img/icons/kiwi/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{site.url}}/img/icons/kiwi/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/img/icons/kiwi/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{site.url}}/img/icons/kiwi/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/img/icons/kiwi/favicon-16x16.png">
  <link rel="manifest" href="{{site.url}}/img/icons/kiwi/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{site.url}}/img/icons/kiwi/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  {% endif %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117520002-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-117520002-1');
  </script>

  {% if display_version == "fenix" %}
  <title>Fenix - Verze {{ page.title }} - {{ page.date | date: "%d.%m.%Y" }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/img/icons/fenix/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{site.url}}/img/icons/fenix/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/img/icons/fenix/32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/img/icons/fenix/16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  {% endif %}

  <!-- Bootstrap core CSS -->
  <link href="{{site.url}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Custom fonts for this template   -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700&subset=latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i&subset=latin-ext" rel="stylesheet">


  <link href="{{site.url}}/vendor/jquery-scrollbar/jquery.scrollbar.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{site.url}}/css/news.css" rel="stylesheet">
  <link href="{{site.url}}/css/dark.css" id="dark-css" rel="stylesheet alternate">
</head>

<body id="page-top">

  <div id="main-content" style="display: none;">

    {% include navigation.html %}

    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex" id="about">
        <div class="w-100">
          <h1 class="mb-0">Verze {{ page.title | replace: "k" : "" }}</h1>
          <h3><span class="text-primary">{{ page.date | date: "%d.%m.%Y" }}</span></h3>
          <div class="subheading">Seznam změn:</a>
            <ul id="features-list">

            </ul>
          </div>

          <div id="main-content">
            {{ content }}
          </div>
        </div>
      </section>
    </div>
  </div>
  <script src="{{ site.url }}/js/preload.js"></script>    



  <!-- Bootstrap core JavaScript -->
  <script src="{{site.url}}/vendor/jquery/jquery.min.js"></script>
  <script src="{{site.url}}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="{{site.url}}/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="{{site.url}}/vendor/jquery-scrollbar/jquery.scrollbar.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ site.url }}/js/news.js"></script>

</body>

</html>